name: Building Ingress Nginx SafeLine

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - "main"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Aliyun ACR
        uses: docker/login-action@v3
        with:
          registry: registry.cn-shenzhen.aliyuncs.com
          username: lipaysam
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: lipaysam
          password: ${{ secrets.HUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./build/ingress-nginx-safeline
          file: "./build/ingress-nginx-safeline/Dockerfile"
          platforms: linux/amd64
          push: true
          tags: |
            lipaysam/ingress-nginx-controller:safeline
            registry.cn-shenzhen.aliyuncs.com/lipaysam/ingress-nginx-controller:safeline
          cache-from: type=registry,ref=lipaysam/ingress-nginx-controller:safeline
          cache-to: type=inline
